<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div align="center"><p><b>Entrar com Login</b></p>
      <ion-avatar slot="start">
        <img src="https://img.pngio.com/png-login-15-clip-arts-for-free-download-on-een-2019-login-png-199_199.png">
      </ion-avatar>
    </div>
    

  <ion-card>

<ion-item>
  <ion-label position="floating">Email</ion-label>
  <ion-input clearInput [(ngModel)]="email"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Senha</ion-label>
  <ion-input clearInput [(ngModel)]="senha"
  type="password" value="123456789" id="senha"></ion-input>
</ion-item>

<ion-item *ngFor="let entry of form">
  <ion-label>{{entry.val}}</ion-label>
  <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
</ion-item>

</ion-card>

<div align="center">
  <ion-button size="small" color="medium" (click)="apagar()">Limpar</ion-button>
  <ion-button size="small"color="success" (click)="logar()">Logar</ion-button>
</div>

<div align="center">
  <h6><b>{{mensagem}}</b></h6>
</div>

<div align="center">
<ion-button color="medium" size="small" routerLink="/cadastro"> Cadastrar-se</ion-button>
</div>

</ion-content>
